# User-specific files
*.suo
*.user
*.sln.docstates


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

#Visual Studio
.vs/
/.vs/
# /.vs/OdeToFood/v17/.suo
# /.vs/OdeToFood/v17/DocumentLayout.backup.json
# /.vs/OdeToFood/v17/DocumentLayout.json
# /.vs/OdeToFood/config/applicationhost.config
# /.vs/OdeToFood/DesignTimeBuild/.dtbcache.v2
# /.vs/OdeToFood/v17/.futdcache.v2
