# User-specific files
*.suo
*.user
*.sln.docstates


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

#Visual Studio
.vs/
/.vs/OdeToFood/v17/.suo
/.vs/OdeToFood/v17/DocumentLayout.backup.json
